/* LIST OF CSS 
======= FPT Innocode Camp 2024 =======

- RESET CSS
- FONT
- RESETUP BOOTSTRAP
- Homepage
- DTCL Section

======= FPT Innocode Camp 2024 =======
*/


/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}
a{
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0d1323;
    color: white;
    font-family: 'Noticia Text', serif;
}

.primary-color {
    color: #FFDB7E;
}

p {
    color: #FFDB7E;
}


h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFDB7E;
}

section {
    background-size: cover !important;
}

.heading{
    font-size: 40px;
}
.container {
    max-width: 1100px;
}
.overplay-blur{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}


.legends-nav {
    position: relative; /* This can be changed to suit your layout */
    width: 100%;
    background-color: #fff; /* Adjust as necessary */
    transition: all 0.3s ease-in-out;
}
.legends-nav .badge{
    position: absolute;
    background: #c3902c;
    margin: 0 0em 2em 9.5em;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 20px;
}

#legends-nav.fixed {
    background: #1a264580 !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}





/* FONT  */
.noticia-text-regular {
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
}

.noticia-text-bold {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

.noticia-text-regular-italic {
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: italic;
}

.noticia-text-bold-italic {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: italic;
}


/* RESETUP BOOTSTRAP */
.bg-legends {
    background: #1A2645 !important;
    font-size: 16px;
}

.btn-primary {
    background: #425380 !important;
    border: none;
}

.legends-nav {
    height: 80px !important;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 9999999;
    width: 100%;
}

.legends-nav a {
    color: white;

}

.legends-nav .search img {
    height: 40px;
    padding: 4px;
}

.legends-nav .search input {
    width: 112px;
    transition: width 0.1s ease;
}

.legends-nav .search .search-icon {
    transition: width 0.1s ease;
    position: absolute;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
}

.legends-nav .search input:focus {
    width: 224px;
}

.legends-nav ul li {
    margin: 0 20px;
}

.logo {
    text-align: center;
    background: url(../images/framelogo2.png) no-repeat;
     background-position: center;
    background-size: cover;
    width: 142px;
    padding: 30px;
    z-index: 999;
}

.login {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

.navbar-nav li:hover,
.nav-item .active {
    width: auto;
    background-size: contain !important;
    background: url(../images/buttonframe.png) no-repeat !important;
 background-position: center;
}
#champion-background{
    background-size: cover !important;
    background-position: center !important;

}
.fpt-logo{
    width: 100%;
    max-width: 250px;
    object-fit: contain;
}
.build-with-logo img{
    width: 100%;
    max-width: 50px !important;
    object-fit: contain;
}
.build-with-logo-full img{
    max-width: 420px;
}
.normal-section {
    height: calc(100vh - 80px);
    margin-top: 80px;
    /* background-position: center; */
}
.skill-section{
    padding: 100px 0;
    position: relative;
}
.skin-section{
    position: relative;
}
.skin-section .container{
    padding: 100px 0;
    position: relative;
}
.skill-section h3{
    color: #FFDB7E;
}
.skill-section p{
    padding: 5px 0;
    color: white;
}
#skin-overplay {
    padding: 100px 0;
    background-size: cover;
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 100%;
}
.skin-slide.swiper-slide-active img{
    border: 1px solid #FFDB7E;
}
.skill-section img, #equipment-list img{
    border: 1px solid #FFDB7E;
    margin: 20px 0;
}
.skin-section .skin-slide h3{
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}
.skin-section .swiper-pagination{
    top: -7px !important;
}
.skin-section .swiper-pagination , .skin-section .swiper-button-next , .skin-section .swiper-button-prev{
    position: relative;
}
.skin-section .swiper-pagination, .skin-section .swiper-button-next{
    right: 0 !important;
    left: unset !important;
    float: right;
}
.skin-section .swiper-pagination, .skin-section .swiper-button-prev{
    left: 0 !important;
    right: unset !important;
    float: left;
}

.skin-section{
    background: url(../images/champion-description.png) no-repeat;
    background-position: center;
}
.skin-section .swiper-container {
    width: 100%;
    height: 100%;
}
.skin-section .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.skin-section .swiper-slide img {
    max-width: 100%;
    height: auto;
}

#champion-overplay{
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    opacity: 0.3;
    z-index: 1;
}

.champion-content{
    position: relative;
    z-index: 99;
}

.show-btn {
    /* display: none; */
    opacity: 0.5;
    transition: opacity .3s ease-out;
}

.show-btn:hover{
    opacity: 0.7;
}

.show-btn.active {
    opacity: 1;
}


.btn-section .img-fluid{
    /* max-width: 100px; */
}


/* Homepage */

.section-hero {
    background: url(../images/hero.png) no-repeat;
     background-position: center;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.section-hero .branding {
    text-align: center;
    padding-top: 100px;
}

.section-hero .hero-image {
    width: 100%;
    object-fit: cover;
    max-width: 800px;
    position: relative;
}



.section-tft {
    background: url(../images/tft.png) no-repeat;
     background-position: center;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.section-tft .branding {
    text-align: center;
    padding-top: 200px;
}

.section-tft .tft-image {
    width: 100%;
    object-fit: cover;
    max-width: 250px;
    height: 100%;
    position: relative;
    
}
.section-tft .play-btn-container{
    margin-top: 3em !important;
}
 .play-btn {
    width: 171px;
    top: 4px;
    height: 67px;
    background: #1A2645;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    border: none;
    position: relative;
}

.play-btn-container {
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
}

 .outline-play-btn {
    background: url(../images/Vector\ 5.png) no-repeat;
     background-position: center;
    width: 181px;
    position: absolute;
    z-index: 999;
    height: 76px;
}

/* Menu Section   */
.section-menu {
    background: url(../images/section-2.png) no-repeat;
     background-position: center;
    position: relative;
}

.section-menu img {
    width: 100%;
}

.section-menu .item-menu {
    text-align: center;
    padding: 20px;
}

/* DTCL Slider  */
.dtcl-slider {
    background: url(../images/dtcl.png) no-repeat;
     background-position: center;
    padding: 120px 0 100px;
}

.dtcl-slider .swiper {
    width: 100%;
    margin: auto;
    text-align: center;
}


.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-prev {
    left: 35% !important;
}

.swiper-button-next {
    right: 35% !important
}

.swiper-button-next,
.swiper-button-prev {
    width: 9px !important;
    height: 18px !important;
    background-size: contain !important;
    transform: translateY(-50%);
    bottom: 0 !important;
    top: unset !important;
}

.swiper-button-next {
    background: url(../images/next.png) no-repeat;
     background-position: center;
    position: absolute;
    right: 0;
}

.swiper-button-prev {
    background: url(../images/prev.png) no-repeat;
     background-position: center;
    position: absolute;
    left: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    border-radius: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.swiper-pagination-bullet-active {
    width: 80px !important;
}



.tft .swiper-slide img {
    width: 153px;
    height: 163px;
    left: 0em;
    position: relative;
    top: 5em;
    opacity: .4;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;

    transform: skew(-25deg);
}

.swiper-pagination-bullet {
    background: #FFDB7E !important;
}

.swiper-scrollbar-horizontal {
    background: #FFDB7E !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background: #FFDB7E !important;
}

.tft .swiper-pagination-bullets {
    position: absolute;
    top: 24em !important;
}

.swiper {
    overflow: unset !important;
}

/* Scale the active (centered) slide */
.tft .swiper-slide-active {
    transition: transform 0.3s ease;
    opacity: 1;
}

.tft .swiper-slide-active img {
    width: 175px;
    height: 197px;
    left: 0em;
    top: 4.2em !important;
}

.tft .content {
    margin-top: 11em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tft .swiper-slide-active .content {
    opacity: 1;
}

.tft .swiper-slide-active .overplay {
    background: url(../images/tft-main-frame.png) no-repeat !important;
     background-position: center;
    background-size: contain !important;
    position: absolute;
    min-width: 400px;
    height: 100%;
    z-index: 1;
    top: 0 !important;
}

.tft .swiper-slide .overplay {
    background: url(../images/tft-frame.png) no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    z-index: 1;
    top: 5em;
}

.tft h2 {
    font-size: 16px;
    /* for scale 1.6 */
}

.tft p {
    font-size: 8px;
    /* for scale 1.6 */
}

.dtcl-slider .tft .swiper-slide-active img,
.dtcl-slider .tft .swiper-slide-active h2,
.dtcl-slider .tft .swiper-slide-active p {
    opacity: 1;
    transform: scale(1.6) !important;
}

.dtcl-slider .tft .swiper-slide-active img {
    transform: skew(-25deg) scale(1.6) !important;

}

.tft .swiper-button-next,
.tft .swiper-button-prev {
    top: 26.2em !important;
}


/* gameplay Section */
.section-gameplay {
    background: url(../images/gameplay.png) no-repeat;
     background-position: center;
    padding: 100px 0 100px 0;
}

.section-gameplay .overplay {
    background: url(../images/frame-gameplay.png) no-repeat;
     background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 1.6em;
    left: 0.5em;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

/* section Welcome */
.section-welcome {
    background: url(../images/welcome.png) no-repeat;
     background-position: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tft .swiper-wrapper {
    left: 4.5%;
}

.tft .swiper-wrapper .swiper-slide:first-child {
    /* margin-right: 10%;
     */
    opacity: 0;
}

.gameplay .swiper-wrapper {
    display: flex;
}
.gameplay .gameplay-swiper-container-thumbs .swiper-wrapper{
    justify-content: space-around;

}

.gameplay-swiper-container-thumbs .swiper-slide {
    width: 104px !important;
}

.gameplay-swiper-container-thumbs .swiper-slide img {
    aspect-ratio: 1/1;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.gameplay .main-swiper .swiper-slide {
    flex-direction: column;
}

.gameplay .gameplay-swiper-container-thumbs {
    max-width: 366px;
    margin: auto;
}

.gameplay .main-swiper .swiper-slide video {
    width: 100%;
}

.gameplay .main-swiper .swiper-slide-active {
    opacity: 1 !important;
}

.gameplay .main-swiper .swiper-slide {
    opacity: 0;
}

.gameplay .swiper-backface-hidden .swiper-slide {
    display: none;
}

.gameplay .gameplay-swiper-container-thumbs .swiper-slide {
    transition: opacity 0.3s ease;
}

.gameplay .swiper-slide-thumb-active {
    transition: transform 0.3s ease;
}
.gameplay .swiper-slide-thumb-active img{
    border: 2px solid #FFDB7E;
    transition: transform 0.3s ease;

}

/* .gameplay .main-swiper .swiper-slide:nth-child(1){
    margin-right: 16%;
}
.gameplay .main-swiper .swiper-slide:nth-child(2){
    margin-right: 12%;
} */
::cue {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1.2em;
}

/* map Section */

.section-map {
    background: url(../images/runeterra.png) no-repeat;
     background-position: center;
    padding: 200px 0;
    transition: opacity .3s ease-out;
    opacity: 0;
}

.section-map .swiper-slide {
    opacity: 0;
    text-align: left;
}

.section-map .swiper-slide-active {
    opacity: 1 !important;
}

.section-map .col {
    justify-content: center !important;
    display: flex;
    flex-direction: column;
}

.shadow-divided {
    background: url(../images/shadow-divided.png) no-repeat;
     background-position: center;
    /* height: 124%; */
    position: absolute;
    width: 100vw !important;
    background-size: cover;
    /* margin-top: 24%; */
}





.map-swiper-button-next,
.map-swiper-button-prev {
    width: 20px;
    height: 18px;
    position: relative;
    display: inline-flex;
    background-size: contain !important;
}

.map-swiper-button-next {
    background: url(../images/next.png) no-repeat;
     background-position: center;
    right: 0;
}

.map-swiper-button-prev {
    background: url(../images/prev.png) no-repeat;
     background-position: center;
    left: 0;
}

/* worldmap */
.section-worldmap {
    width: 100%;
    height: 100vh;
    background: url(../images/worldmap.png) no-repeat;
     background-position: center;
    background-size: cover;
}


/* game section  */
.game-section {
    background: url(../images/game.png) no-repeat;
    background-position: center;
    height: calc(100vh - 80px);
}
.game-section .game-hero-banner{
    padding-top: 100px;
    text-align: left;
}

/* champions */
.section-champions{
    background-image: url('../images/champion-bg.png');
    background-size: contain;
    padding: 50px 0;
}
.champion{
    border: 1px solid #BB882C;
}
.champion img{
    width: 100%;

}
.champion h2{
    background-color: #BB882C;
    font-size: 20px;
    padding: 10px 0;
}

.legends-btn{
    background: url('../images/legends-btn.png') no-repeat;
    background-size: contain;
    text-align: center;
}

.legends-btn button{
    border: none;
    background: none;
    color: white;
    height: 58px;
    text-align: left;
    width: 100%;
    padding: 3px 0 15px 50px;
    text-transform: uppercase;
}

/* Famost Area Section  */
.famost-area-section {
    width: 100%;
    /* height: 100vh; */
    padding: 50px 0;
}
/* Champions  */
.champions-hero{
    background: url(../images/champions.png) no-repeat !important;
     background-position: center !important;
    width: 100%;
    background-size: cover !important;
}

/* Footer */
footer {
    background: url(../images/footer.png) no-repeat;
     background-position: center;
    background-size: cover;
    color: white;
    padding: 50px 0;
    height: calc(300px - 10px);
    top: -10px;
    position: relative;
}

footer img {
    height: 100%;
    object-fit: contain;
    max-height: 50px;
    padding: 0 25px;
}

.navbar-brand {
    display: none;
}
.mobile-search {
    display: none !important;
}

 /* Champion-detail-ID */

 .champion-detail img{
 max-width: unset !important; 
 }
.champion-detail-147{
    background: url(../images/bg-champion-147.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.champion-detail-description  .overplay{
    background-position: center !important;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.champion-detail-description-147 .overplay{
    background: url(../images/champion-description-147.png) no-repeat;
}
.champion-detail .hero-image{
    width: 80% !important;
}
.champion-detail-description .vl{
    border-right: 1px solid #FFDB7E;
}
#champion-icon{
    border: 2px solid  #FFDB7E !important;
    padding: 10px;
}
#champion-name-banner {
    transform: scale(1.5);
}

.champion-detail-description img{
    width: 100%;
}
.champion-detail-description hr{
    border: 1px solid #FFDB7E;
    height: 100%;
}

/* Champion description */
.champion-detail-description {
    background: url(../images/champion-description.png) no-repeat;
     background-position: center;
    height: 500px;
    width: 100%;
    margin: -20px 0;
    z-index: 1;
    position: relative;
}
.champion-name-banner-mb{
    text-align: left;
}

.search-section{
    background: url(../images/search-bg.png) no-repeat !important;
     background-position: center center !important;
    background-size: cover;
    padding: 50px 0;
    height: auto !important;
}
.section-welcome .search {
    text-align: center;
    margin: auto;
}
.section-welcome .search .img{
    width: 100%;
    max-width: 200px;
}

.section-welcome .search {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}

.champions-intro-section .show-btn h3{
    font-size: 14px;
    justify-content: center;
    display: flex;
}

/* REPONSIVE */
@media (max-width: 991.98px) {
    .skin-section .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        top: 0px !important;
    }
    .legends-btn h3{
        font-size: 14px;
    }
    .legends-btn button{
        padding: 0px 0 24px 35px;
    }
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.5;
    }
    .legends-nav{
        height: 60px !important;
    }
    .navbar-brand {
        display: block;
        position: relative;
        bottom: 8px;
    }

    .legends-nav .logo {
        display: none;
    }

    .navbar-toggler {
        border: none;
        height: 60px !important;
        width: 60px !important;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler {
        border-radius: 0;
        border: none;
        height: 80px;
        width: 80px;
        position: relative;
        left: -12px;
        top: -8px;
        background: #FFDB7E;
    }
    .navbar-collapse{
        z-index: 99;
        background: #1A2645;
        top: -8px;
        position: relative;
    }
     .login{
        display: none !important;
    }
    .mobile-search {
        display: block !important;
    }
    .legends-nav .search input{
        width: 86%;
        position: relative;
        bottom: 8px;
    }
    .search-icon{
        bottom: 10px;
        z-index: 99;
    }
    .section-worldmap {
        height: 100vh;
        background-size: contain;
    }
    .champion-detail-description .vl{
        display: none;
    }
    .champion-name-banner-mb{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .gameplay-swiper-container-thumbs .swiper-slide img{
        width: 80px;
        height: 80px;
    }
    .dtcl-slider{
    padding: 120px 0 200px;

    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        top: 30em !important;
    }
    .tft .swiper-button-next, .tft .swiper-button-prev{
        top: 32em !important;
    }
    .swiper-button-prev{
        left: 1em !important;
    }
    .swiper-button-next{
        right: 1em !important;
    }
    .tft .content{
        margin-top: 17em;
    }
    .section-map .swiper-slide {
        width: 100%;
    }
    .section-welcome h3{
        color:black;
    }
}


